# Challenge 6 Deliverable 2

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
# Import API key
from config import g_key
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Butaritari,KI,3.0707,172.7902,81.16,75,14,6.04,few clouds
1,1,Jijiga,ET,9.3500,42.8000,63.61,61,57,16.80,broken clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,42.91,56,0,16.11,clear sky
3,3,Rikitea,PF,-23.1203,-134.9692,70.63,71,4,9.89,clear sky
4,4,Rudbar,AF,30.1500,62.6000,86.20,14,0,12.03,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Butaritari,KI,3.0707,172.7902,81.16,75,14,6.04,few clouds
4,4,Rudbar,AF,30.1500,62.6000,86.20,14,0,12.03,clear sky
6,6,Semnan,IR,35.5729,53.3971,82.15,36,45,7.65,scattered clouds
7,7,Mandan,US,46.8267,-100.8896,88.02,31,20,5.75,haze
9,9,Agadir,MA,30.4202,-9.5982,77.45,59,2,4.74,clear sky
16,16,Yellowknife,CA,62.4560,-114.3525,80.29,53,20,9.22,few clouds
17,17,Tabou,CI,4.4230,-7.3528,76.33,86,93,11.50,light rain
19,19,Atuona,PF,-9.8000,-139.0333,76.75,70,40,12.97,scattered clouds
21,21,Ambon,ID,-3.6954,128.1814,79.05,83,27,7.18,moderate rain
34,34,Hami,CN,42.8000,93.4500,80.22,34,100,8.66,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                243
City                   243
Country                243
Lat                    243
Lng                    243
Max Temp               243
Humidity               243
Cloudiness             243
Wind Speed             243
Weather Description    243
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df= city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                      (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.count()

City_ID                243
City                   243
Country                243
Lat                    243
Lng                    243
Max Temp               243
Humidity               243
Cloudiness             243
Wind Speed             243
Weather Description    243
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.16,few clouds,3.0707,172.7902,
4,Rudbar,AF,86.20,clear sky,30.1500,62.6000,
6,Semnan,IR,82.15,scattered clouds,35.5729,53.3971,
7,Mandan,US,88.02,haze,46.8267,-100.8896,
9,Agadir,MA,77.45,clear sky,30.4202,-9.5982,
16,Yellowknife,CA,80.29,few clouds,62.4560,-114.3525,
17,Tabou,CI,76.33,light rain,4.4230,-7.3528,
19,Atuona,PF,76.75,scattered clouds,-9.8000,-139.0333,
21,Ambon,ID,79.05,moderate rain,-3.6954,128.1814,
34,Hami,CN,80.22,overcast clouds,42.8000,93.4500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
#print(hotel_df.count())

clean_hotel_df = hotel_df.drop(hotel_df[hotel_df["Hotel Name"]==""].index)

clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.16,few clouds,3.0707,172.7902,Isles Sunset Lodge
6,Semnan,IR,82.15,scattered clouds,35.5729,53.3971,Semnan Tourist Hotel
7,Mandan,US,88.02,haze,46.8267,-100.8896,Twin City Estates
9,Agadir,MA,77.45,clear sky,30.4202,-9.5982,Iberostar Founty Beach
16,Yellowknife,CA,80.29,few clouds,62.4560,-114.3525,The Explorer Hotel
17,Tabou,CI,76.33,light rain,4.4230,-7.3528,hotêl doufoulougou
19,Atuona,PF,76.75,scattered clouds,-9.8000,-139.0333,Villa Enata
21,Ambon,ID,79.05,moderate rain,-3.6954,128.1814,Swiss-Belhotel Ambon
34,Hami,CN,80.22,overcast clouds,42.8000,93.4500,Laoyutang Resort
41,Hilo,US,79.61,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel

In [14]:
# 8a. Create the output File (CSV)
output_file_csv = "Vacation_search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_file_csv, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# 11b. Display the figure
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))